
.container{
position:absolute;
justify-content: left;
padding-bottom: 50px;
background-color: rgba(75,107,175,0.9);
height: 25rem;
width: 50rem;
}
.title_container {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.4rem;
    background-color: rgba(235,235, 235,1);
}
.title {
    color: rgba(48, 107, 215, 0.8);
    font-size: 1.4rem;
}
.subtitle {
    color: rgba(48, 107, 215, 0.8);
    font-size: 1.1rem;
}
.content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_container >*{
    margin-bottom: 1rem;
}
.content {
    color: rgba(25, 24, 24, 0.8);
}

.button {
    padding: 1 rem 3 rem;
    background-color: rgb(214, 114, 114);
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.3);
    color: white;
    margin:0.4 rem;
    transition: all 0.1s ease-in;
    cursor:pointer;
    width: 40%;
    text-align: center;
    justify-content: center;
    font-weight: 400%;
}

.button:hover {
    background-color: rgb(237, 195, 195);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    color: black;
    transform: translateY(-0.3rem);
    font-weight: 400;
}