# there are more configuration values in /src/config.js such as colors and background
# env vars that are passed in to the react app need to be prefixed with REACT_APP_

# endpoint to token server corresponding to project's persona
REACT_APP_TOKEN_URL=http://localhost:8080/auth/authorize

# enable if using an orchestration server usually for non-native NLP or custom backend logic (true or false)
REACT_APP_ORCHESTRATION_MODE=true

# node environment (DEV or PROD)
NODE_ENV=dev

# local development server will serve app from this port
PORT=3000

# without this flag, any eslint errors will prevent the app from building (true or false)
ESLINT_NO_DEV_ERRORS=true

# true if prod mode - will hide the microphone mute button (true or false)
REACT_APP_PROD=false

# url to our reset conversation endpoint
REACT_APP_WATSON_URL="https://localhost:3001/watson"

# Audio Recording Flag
REACT_APP_AUDIO_RECORDING=
REACT_APP_AUDIO_SAVE_API=
