EXPRESS_SERVER=localhost
EXPRESS_PORT=3001
SSL_CERT=./certs/localhost.crt
SSL_KEY=./certs/localhost.key

# varible for initiate production mode;
# NODE_ENV = production;

# variable for connect watson
WATSON_ASSITANT_SERVICEURL=https://api.us-south.assistant.watson.cloud.ibm.com
WATSON_ASSISTANT_VERSION=
WATSON_ASSITANT_APIKEY=
WATSON_ASSITANT_ID=

