# Set these according to the Connection Config in Digital DNA Studio
SESSION_SERVER=dh.soulmachines.cloud
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

# CORS Config: Set UI_SERVER to local or remote UI hostname including the port number (if not running on the Default Port.
# Do not include http or https prefix
UI_SERVER=localhost

# Production Persona must be set to true in Production Deployments
PRODUCTION_PERSONA=false

# Local Development Environment Config
# Express Server will run on the following port / IP
EXPRESS_PORT=8080
EXPRESS_SERVER=0.0.0.0

# Express Server requires a self signed certificate for Localhost development
# Remove / comment out these lines to run Express on HTTP only
# SSL_CERT=./certs/localhost.crt
# SSL_KEY=./certs/localhost.key

# For token server connect to Orchestration server
ORCHESTRATION_SERVER=localhost:3001
CONTROL_VIA_BROWSER=true

# IBM Cloud Object Storage
COS_ENDPOINT=
COS_APIKEYID=
COS_IBM_AUTH_ENDPOINT=
COS_RESOURCE_INSTANCE_ID=
COS_BUCKET=
